In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, concat, lit, when, rand, current_date, date_add
from datetime import datetime
import os

spark = SparkSession.builder.appName("SyntheticData") \
    .config("spark.master", "local") \
    .config('spark.driver.memory', '4g') \
    .config('spark.executor.cores', '4') \
    .config('spark.executor.memory', '8g') \
    .getOrCreate()

# Функция для ввода положительного целого числа
def input_number(number):
    while True:
        try:
            user_input  = int(input(number))
            if user_input > 0:
                return user_input
            else:
                print("Пожалуйста, введите положительное целое число.")
        except ValueError:
            print("Пожалуйста, введите целое число.")

# Запрос числа строк для генерации от пользователя
number_row = input_number("Сколько строк вы хотите сгенерировать: ")

# Генерация данных для колонок id, name, city, email, age, salary, registration_date
data = [(i, f"Names_{i}", f"Cityname_{i}") for i in range(1, number_row + 1)]
df = spark.createDataFrame(data, ["id", "name", "city"])

df = df.withColumn("email", concat(col("name"), lit("@example."), when(col("id") % 2 == 0, "ru").otherwise("com"))) \
    .withColumn("age", (rand() * 78 + 18).cast("int")) \
    .withColumn("salary", (rand() * 150000 + 19242).cast("int")) \
    .withColumn("registration_date", date_add(current_date(), - (rand() * (col("age") - 18)).cast("int") * 365))

df.cache()  # Кеширование DataFrame для более быстрой обработки

# Замена 5% данных на значение NULL
columns = ["name", "email", "city", "age", "salary", "registration_date"]
df = df.select("id", *[when(rand() <= 0.05, None).otherwise(col(column)).alias(column) for column in columns])

# Установка текущей даты для имени файла
current_date = datetime.now().strftime("%Y-%m-%d") 
# Путь к сохранению CSV файла
path = f"/home/jovyan/work/PySpark_test/config/temp/{current_date}-dev.csv"
# Запись DataFrame в CSV
df.coalesce(1).write.csv(path, header=True, mode="overwrite")  

# Переименование сгенерированного файла
for file in os.listdir(path):
    file_path = os.path.join(path, file)
    if file.startswith("part-"):
        os.rename(file_path, f"config/{current_date}-dev.csv")

# Удаление временных файлов и папки
for file in os.listdir(path):
    file_path = os.path.join(path, file)
    os.remove(file_path)
    
os.rmdir(path)

df.show()

spark.stop()

Сколько строк вы хотите сгенерировать:  1000000

+---+--------+--------------------+-----------+---+------+-----------------+
| id|    name|               email|       city|age|salary|registration_date|
+---+--------+--------------------+-----------+---+------+-----------------+
|  1| Names_1| Names_1@example.com| Cityname_1| 43| 19334|       2018-08-02|
|  2| Names_2|  Names_2@example.ru| Cityname_2| 22| 27520|       2021-08-01|
|  3| Names_3| Names_3@example.com|       NULL| 83| 23253|       2002-08-06|
|  4| Names_4|  Names_4@example.ru| Cityname_4| 29| 51675|       2016-08-02|
|  5| Names_5| Names_5@example.com| Cityname_5| 46| 51213|       2011-08-04|
|  6| Names_6|  Names_6@example.ru| Cityname_6| 58| 72349|       2006-08-05|
|  7| Names_7| Names_7@example.com| Cityname_7| 87| 83298|       1960-08-16|
|  8| Names_8|  Names_8@example.ru| Cityname_8| 42| 88017|       2010-08-04|
|  9| Names_9| Names_9@example.com| Cityname_9| 60|157464|       2008-08-04|
| 10|    NULL| Names_10@example.ru|Cityname_10| 72|144354|             NULL|
| 11|Names_11|Names_11@example.com|Cityname_11| 30|134325|       2014-08-03|
| 12|Names_12| Names_12@example.ru|       NULL| 52| 80725|       2024-07-31|
| 13|Names_13|Names_13@example.com|Cityname_13| 95|108246|       1952-08-18|
| 14|Names_14| Names_14@example.ru|Cityname_14| 47|148419|       2008-08-04|
| 15|Names_15|Names_15@example.com|Cityname_15| 74|128868|       1972-08-13|
| 16|Names_16| Names_16@example.ru|Cityname_16| 54| 49879|       2003-08-06|
| 17|Names_17|Names_17@example.com|Cityname_17| 41| 54172|       2023-08-01|
| 18|Names_18| Names_18@example.ru|Cityname_18| 63| 53706|       2003-08-06|
| 19|Names_19|Names_19@example.com|Cityname_19| 37| 62639|       2011-08-04|
| 20|Names_20| Names_20@example.ru|Cityname_20| 28| 19736|       2015-08-03|
+---+--------+--------------------+-----------+---+------+-----------------+
only showing top 20 rows

Сколько строк вы хотите сгенерировать:  50

+---+--------+--------------------+-----------+----+------+-----------------+
| id|    name|               email|       city| age|salary|registration_date|
+---+--------+--------------------+-----------+----+------+-----------------+
|  1| Names_1| Names_1@example.com| Cityname_1|  71| 81525|       1996-08-07|
|  2| Names_2|  Names_2@example.ru| Cityname_2|  50|123497|       2017-08-02|
|  3| Names_3| Names_3@example.com| Cityname_3|  42|162323|       2001-08-06|
|  4| Names_4|  Names_4@example.ru| Cityname_4|  79| 36318|       2024-07-31|
|  5| Names_5| Names_5@example.com| Cityname_5|NULL|134236|       2022-08-01|
|  6| Names_6|  Names_6@example.ru| Cityname_6|  58|153405|       1990-08-09|
|  7| Names_7| Names_7@example.com| Cityname_7|NULL| 46583|       2024-07-31|
|  8| Names_8|  Names_8@example.ru| Cityname_8|  57| 41889|       2020-08-01|
|  9| Names_9| Names_9@example.com| Cityname_9|  59|132834|       2003-08-06|
| 10|Names_10| Names_10@example.ru|Cityname_10|  80|107685|       2008-08-04|
| 11|Names_11|Names_11@example.com|Cityname_11|  55|123612|       2018-08-02|
| 12|Names_12| Names_12@example.ru|Cityname_12|  30| 71782|       2021-08-01|
| 13|Names_13|Names_13@example.com|Cityname_13|  47| 45052|             NULL|
| 14|Names_14| Names_14@example.ru|Cityname_14|  74| 23528|       1986-08-10|
| 15|Names_15|Names_15@example.com|Cityname_15|  43| 54002|       2009-08-04|
| 16|Names_16| Names_16@example.ru|Cityname_16|  84|152262|       1996-08-07|
| 17|    NULL|Names_17@example.com|Cityname_17|  44|134376|       2001-08-06|
| 18|Names_18| Names_18@example.ru|Cityname_18|  48|108578|             NULL|
| 19|Names_19|Names_19@example.com|Cityname_19|  54|119219|             NULL|
| 20|Names_20| Names_20@example.ru|Cityname_20|  54|123727|       2019-08-02|
+---+--------+--------------------+-----------+----+------+-----------------+
only showing top 20 rows

In [ ]:
df_date = spark.sql("SELECT current_date() AS current_date")
current_date = df_date.select(date_format("current_date", "yyyy-MM-dd")).first()[0]

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, concat, lit, when, rand, current_date, date_add
import os

spark = SparkSession.builder.appName("SyntheticData") \
    .config("spark.master", "local") \
    .config('spark.driver.memory', '4g') \
    .config('spark.executor.cores', '4') \
    .config('spark.executor.memory', '8g') \
    .getOrCreate()

# Функция для ввода положительного целого числа
def input_number(number):
    while True:
        try:
            user_input  = int(input(number))
            if user_input > 0:
                return user_input
            else:
                print("Пожалуйста, введите положительное целое число.")
        except ValueError:
            print("Пожалуйста, введите целое число.")

# Запрос числа строк для генерации от пользователя
number_row = input_number("Сколько строк вы хотите сгенерировать: ")

# Генерация данных для колонок id, name, city, email, age, salary, registration_date
data = [(i, f"Names_{i}", f"Cityname_{i}") for i in range(1, number_row + 1)]
df = spark.createDataFrame(data, ["id", "name", "city"])

df = df.withColumn("email", concat(col("name"), lit("@example."), when(col("id") % 2 == 0, "ru").otherwise("com"))) \
    .withColumn("age", (rand() * 78 + 18).cast("int")) \
    .withColumn("salary", (rand() * 150000 + 19242).cast("int")) \
    .withColumn("registration_date", date_add(current_date(), - (rand() * (col("age") - 18)).cast("int") * 365))

df.cache()  # Кеширование DataFrame для более быстрой обработки

# Замена 5% данных на значение NULL
columns = ["name", "email", "city", "age", "salary", "registration_date"]
df = df.select("id", *[when(rand() <= 0.05, None).otherwise(col(column)).alias(column) for column in columns])

# Установка текущей даты для имени файла
df_date = spark.sql("SELECT current_date()")
current_date = df_date.select(date_format("current_date", "yyyy-MM-dd")).first()[0]

# Путь к сохранению CSV файла
path = f"/home/jovyan/work/PySpark_test/config/temp/{current_date}-dev.csv"
# Запись DataFrame в CSV
df.coalesce(1).write.csv(path, header=True, mode="overwrite")  

# Переименование сгенерированного файла
for file in os.listdir(path):
    file_path = os.path.join(path, file)
    if file.startswith("part-"):
        os.rename(file_path, f"config/{current_date}-dev.csv")

# Удаление временных файлов и папки
for file in os.listdir(path):
    file_path = os.path.join(path, file)
    os.remove(file_path)
    
os.rmdir(path)

df.show()

spark.stop()

Сколько строк вы хотите сгенерировать:  50

2024-07-31
+---+--------+--------------------+-----------+---+------+-----------------+
| id|    name|               email|       city|age|salary|registration_date|
+---+--------+--------------------+-----------+---+------+-----------------+
|  1| Names_1| Names_1@example.com| Cityname_1| 72| 92144|       1974-08-13|
|  2|    NULL|  Names_2@example.ru| Cityname_2| 39| 34218|       2021-08-01|
|  3| Names_3| Names_3@example.com| Cityname_3| 56|122928|       1990-08-09|
|  4| Names_4|                NULL| Cityname_4| 49| 91209|       2004-08-05|
|  5| Names_5|                NULL| Cityname_5| 25|160397|       2021-08-01|
|  6| Names_6|  Names_6@example.ru| Cityname_6| 49|153659|       2006-08-05|
|  7| Names_7| Names_7@example.com| Cityname_7| 37| 71245|       2013-08-03|
|  8| Names_8|  Names_8@example.ru| Cityname_8| 81|156469|       2024-07-31|
|  9|    NULL| Names_9@example.com| Cityname_9| 84|134101|       1960-08-16|
| 10|Names_10| Names_10@example.ru|Cityname_10| 64| 74191|       2002-08-06|
| 11|Names_11|Names_11@example.com|Cityname_11| 80| 29424|       1976-08-12|
| 12|Names_12| Names_12@example.ru|Cityname_12| 78|157479|       1970-08-14|
| 13|Names_13|Names_13@example.com|Cityname_13| 73|130686|       2023-08-01|
| 14|Names_14| Names_14@example.ru|       NULL| 37| 44747|       2018-08-02|
| 15|Names_15|Names_15@example.com|Cityname_15| 85| 44061|       2006-08-05|
| 16|Names_16|                NULL|Cityname_16| 30|133463|       2018-08-02|
| 17|Names_17|Names_17@example.com|Cityname_17| 68| 32207|       2007-08-05|
| 18|Names_18| Names_18@example.ru|Cityname_18| 92|154774|       2017-08-02|
| 19|Names_19|                NULL|Cityname_19| 58|130773|       1986-08-10|
| 20|Names_20| Names_20@example.ru|Cityname_20| 74| 25690|       2018-08-02|
+---+--------+--------------------+-----------+---+------+-----------------+
only showing top 20 rows